// Colors

$cyan : hsl(179, 62%, 43%);
$yellow: hsl(71, 73%, 54%);
$ltgray : hsl(204, 43%, 93%);
$grayblue: hsl(218, 22%, 67%); 
$white: #fff;

// Typography

$font-stack:'Karla', sans-serif;

// Padding

$padding-lr-mobile: 1.5625rem;
$padding-tb-mobile: 1.875rem;
$padding-lr-desktop: 2.5rem;
$padding-tb-desktop: 2.6875rem;

// Breakpoints

$tablet: 48em;

// Border-radius

$bd-radius: 7px;

// Font-weight

$ltweight:400;
$boldweight:700;