*, *:after {
  box-sizing: border-box; }

html {
  font-size: 100%; }

body {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  background: #e5eff5;
  font-family: "Karla", sans-serif;
  min-height: 100vh;
  display: grid;
  place-content: center; }

ul, ol {
  list-style: none;
  padding: 0; }
  ul li, ol li {
    margin: 0.625rem 0; }

h1,
h2,
h3 {
  font-weight: 700;
  margin-top: 0; }

h3 {
  color: #c0df34; }

p {
  line-height: 1.8; }

section {
  padding: 1.875rem 1.5625rem; }
  @media (min-width: 48em) {
    section {
      padding: 2.6875rem 2.5rem; } }

.community {
  background-color: #fff;
  color: #98a6bd; }
  @media (min-width: 48em) {
    .community {
      grid-column: 1/3; } }
  .community h2 {
    color: #2ab2af; }

.subscription {
  background-color: #2ab2af; }
  .subscription__price {
    display: flex;
    align-items: center; }
    .subscription__price span {
      font-weight: 700;
      color: #fff;
      font-size: 2rem; }

.why-us {
  background-color: #00c2c2; }

.subscription,
.why-us {
  color: #fff; }

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  border-radius: 7px;
  overflow: hidden;
  margin: 2rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px; }
  @media (min-width: 48em) {
    .grid-container {
      grid-template-columns: repeat(2, 1fr); } }

.attribution {
  font-size: 11px;
  text-align: center; }

.attribution a {
  color: #3e52a3; }

.btn {
  background-color: #c0df34;
  display: block;
  padding: 1rem;
  text-decoration: none;
  color: #fff;
  text-align: center;
  border-radius: 7px;
  box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px; }
